<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a routerLink="/">Home</a></li>
                                        <li><a routerLink="/joblisting" routerLinkActive="active">Find a Job </a></li>
                                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                                        <!-- <li><a href="#">Page</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-blog.html">Blog Details</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a routerLink='/jobdetails'>job Details</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div *ngIf="auth.isLoggedIn()" class="header-btn d-none f-right d-lg-block">
                                <a routerLink="/register" routerLinkActive="active" class="btn head-btn1">Register</a>
                                <a routerLink="/login" routerLinkActive="active" class="btn head-btn2">Login</a>
                            </div>
                            <div *ngIf="!auth.isLoggedIn()">
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li>
                                                <a class="pointer">
                                                    <h6><b>Welcome To The Portal</b><i class="fas fa-chevron-circle-down"></i></h6>
                                                </a>
                                                <ul class="submenu">
                                                    <li *ngIf="job.roleMatch(['User'])"><a routerLink="/profile" routerLinkActive="active"><i class="fas fa-user-circle"></i>Your Profile</a></li>
                                                    <!-- <li *ngIf="job.roleMatch(['User'])"><a routerLink="/applicationform" routerLinkActive="active"><i class="fas fa-briefcase"></i>Apply for Job</a></li> -->
                                                    <li *ngIf="job.roleMatch(['User'])"><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                                                    <li *ngIf="job.roleMatch(['Admin'])"><a routerLink="/adminpanel" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i>Admin Panel</a></li>
                                                    <li *ngIf="job.roleMatch(['Admin'])"><a routerLink="/addjobs" routerLinkActive="active"><i class="fas fa-briefcase"></i>Add A Job</a></li>
                                                    <!-- <li *ngIf="job.roleMatch(['Admin'])"><a routerLink="/approveusers" routerLinkActive="active"><i class="fas fa-user-circle"></i>Approve Users</a></li> -->
                                                    <!-- <li *ngIf="job.roleMatch(['Superadmin'])"><a routerLink="/approveadmin" routerLinkActive="active"><i class="fas fa-user-circle"></i>Approve Admin</a></li> -->
                                                    <li *ngIf="job.roleMatch(['Superadmin'])"><a routerLink="/registernewadmin" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>Register User</a></li>
                                                    <li *ngIf="job.roleMatch(['HR'])"><a routerLink="/HRPanel" routerLinkActive="active"><i class="fas fa-briefcase"></i>Job Applications</a></li>
                                                    <li *ngIf="job.roleMatch(['HR'])"><a routerLink="/jobreferrals" routerLinkActive="active"><i class="fas fa-briefcase"></i>Job referrals</a></li>
                                                    <li *ngIf="job.roleMatch(['HR'])"><a routerLink="/reports" routerLinkActive="active"><i class="fas fa-chart-line"></i>Reports</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div *ngIf="!auth.isLoggedIn()" class="header-btn d-none f-right d-lg-block">
                                <a (click)="logout()" class="btn head-btn2">Logout</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>