<div class="container">
    <div class="row row justify-content-center bg">
        <div class="col-lg-8">
            <div class="box">
                <br>
                <i class="fa fa-user-circle fa-4x"></i>
                <h3 class="txtlog">Login</h3>
                <hr>
                <br>
                <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="Login()">

                    <div class="form-group">
                        <label class="txt font-weight-bold">User Name</label>
                        <input [class.is-invalid]="loginForm.get('UserName').invalid && loginForm.get('UserName').touched" type="text font-weight-bold" class="form-control" formControlName="UserName" />
                        <small class="text-danger" [class.d-none]="loginForm.get('UserName').valid || loginForm.get('UserName').untouched">Username is mandatory*</small>
                    </div>

                    <div class="form-group">
                        <label class="txt font-weight-bold">Password</label><br>
                        <input [class.is-invalid]="loginForm.get('UserPassword').invalid && loginForm.get('UserPassword').touched" type="password" class="form-control" formControlName="UserPassword" />
                        <small class="text-danger" [class.d-none]="loginForm.get('UserPassword').valid || loginForm.get('UserPassword').untouched">Password is mandatory*</small>
                    </div>

                    <small class="text-danger" *ngIf="isLoginError">UserName or Password is incorrect</small>
                    <div class="d-flex ">
                        <div class="form-group">
                            <button [disabled]="loginForm.invalid" class="btn text-white font-weight-bold" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>