<div class="wrap">
    <form class="login-form" [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="Login()">
        <div class="form-header">
            <h3>Login</h3>
            <hr>
        </div>
        <!--Email Input-->
        <div class="form-group">
            <label class="txt font-weight-bold">Employee Number</label>
            <input [class.is-invalid]="loginForm.get('UserName').invalid && loginForm.get('UserName').touched" type="text font-weight-bold" class="form-input" formControlName="UserName" />
            <small class="text-danger" [class.d-none]="loginForm.get('UserName').valid || loginForm.get('UserName').untouched">Username is mandatory*</small>
        </div>
        <!--Password Input-->
        <div class="form-group">
            <label class="txt font-weight-bold">Password</label><br>
            <input [class.is-invalid]="loginForm.get('UserPassword').invalid && loginForm.get('UserPassword').touched" type="password" class="form-input" formControlName="UserPassword" />
            <small class="text-danger" [class.d-none]="loginForm.get('UserPassword').valid || loginForm.get('UserPassword').untouched">Password is mandatory*</small>
        </div>
        <!--Login Button-->
        <div class="form-group">
            <button [disabled]="loginForm.invalid" class="form-button" type="submit">Login</button>
        </div>
        <!-- <div class="form-footer">
            Don't have an account? <a href="#">Sign Up</a>
        </div> -->
    </form>
</div>