<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="count-job mb-35">
                <div class="select-job-items">
                    <span><b>Filter By Skill</b></span>
                    <select name="select" class="form-control" (change)="capture($event.target.value)">
                        <option value="">None</option>
                        <option *ngFor="let data of skillFilter" value={{data}}>{{data}}</option>
                        
                    </select>
                    <!-- <input type="text" [(ngModel)]="filterVal" /> -->
                </div>
                <!--  Select job items End-->
            </div>
        </div>
    </div>
    <table class="table table-striped table-responsive-lg btn-table">
        <thead>
            <tr>
                <th>Job Application Id</th>
                <th>Employee Name</th>
                <th>Company Applied For</th>
                <th>Job Title</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let item of (JobApplications | skillfilter:skillVal  | paginate: {
                id:'jobApplications',
                itemsPerPage: 5,
                currentPage: page,
                totalItems: totalRecord} )">
                <td>{{item.ApplicationId}}</td>
                <td>{{item.EmployeeName}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.JobTitle}}</td>
                <td>
                    <button type="button" class="btn" (click)="ViewDetail(item.ApplicationId)">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <pagination-controls id="jobApplications" (pageChange)="page=$event" previousLabel="" nextLabel=""></pagination-controls>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>