<div class="container">
    <table class="table table-striped table-responsive-lg btn-table">
        <thead>
            <tr>
                <th>Job Application Id</th>
                <th>Employee Name</th>
                <th>Company Applied For</th>
                <th>Job Title</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of JobApplications | paginate: {
                id:'jobApplications',
                itemsPerPage: 5,
                currentPage: page,
                totalItems: totalRecord}">
                <td>{{item.ApplicationId}}</td>
                <td>{{item.EmployeeName}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.JobTitle}}</td>
                <td>
                    <button type="button" class="btn" (click)="ViewDetail(item.ApplicationId)">Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <pagination-controls id="jobApplications" (pageChange)="page=$event" previousLabel="" nextLabel=""></pagination-controls>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>