h4 {
    margin-left: 0px;
    margin-top: 30px;
    font-weight: bold;
    color: rgb(21, 21, 131);
}

.btn1 {
    background-color: green;
    border: none;
    color: white;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    margin-bottom: 17px;
    margin-left: 10px;
}

.btn3 {
    background-color: rgb(0, 0, 250);
    border: none;
    color: white;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    margin-bottom: 17px;
    margin-left: 10px;
}

.btn2 {
    background-color: #db0909;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.row {
    margin-top: 20px;
}