h4 {
    margin-left: 0px;
    margin-top: 30px;
    font-weight: bold;
    color: #252b60;
}

.btn1 {
    background-color: green;
    border: none;
    color: white;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    margin-bottom: 17px;
    margin-left: 10px;
}

.btn3 {
    background-color: rgb(44, 173, 224);
    border: none;
    color: white;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    margin-bottom: 17px;
    margin-left: 10px;
}

.btn2 {
    background-color: #db0909;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.row {
    margin-top: 20px;
}

.form-control {
    width: 220px;
}

.tbl {
    margin-left: 50%;
}

.dash {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    color: white;
    text-align: center;
    width: 250px;
    height: 500px;
    background-color: rgb(49, 53, 53);
}