<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3 mb-2 mt-4">
            <button class="btn" (click)="showForm()">Send Email</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2 mt-4">
            <form [hidden]="isDisplayed" class="job-form" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
                <div class="form-group">
                    <label class="txt3 font-weight-bold">To:</label>
                    <input [class.is-invalid]="emailForm.get('To').invalid && emailForm.get('To').touched"
                        type="text" class="form-control" formControlName="To" />
                    <small class="text-danger"
                        [class.d-none]="emailForm.get('To').valid || emailForm.get('To').untouched">*Recepient's Email
                        is mandatory</small>
                </div>
                <div class="form-group">
                    <label class="txt3 font-weight-bold">From:</label>
                    <input [class.is-invalid]="emailForm.get('From').invalid && emailForm.get('From').touched"
                        type="text" class="form-control" formControlName="From" />
                    <small class="text-danger"
                        [class.d-none]="emailForm.get('From').valid || emailForm.get('From').untouched">*Sender's Email
                        is mandatory</small>
                </div>
                <div class="form-group">
                    <label class="txt3 font-weight-bold">Subject</label>
                    <input [class.is-invalid]="emailForm.get('Subject').invalid && emailForm.get('Subject').touched"
                        type="text" class="form-control" formControlName="Subject" />
                    <small class="text-danger"
                        [class.d-none]="emailForm.get('Subject').valid || emailForm.get('Subject').untouched">*Subject is mandatory</small>
                </div>
                <div class="form-group">
                    <label class="txt3 font-weight-bold">Body</label>
                    <textarea class="form-control" formControlName="Body" row="5"></textarea>
                    <small class="text-danger"
                        [class.d-none]="emailForm.get('Body').valid || emailForm.get('Body').untouched">*Body is mandatory</small>
                </div>
                <div class="form-group">
                    <button [disabled]="emailForm.invalid" class="btn" type="submit">Send</button>
                    <button class="btn" type="button" (click)="resetAll()">Reset</button>
                </div>
                <!-- <div class="form-footer">
                    Don't have an account? <a href="#">Sign Up</a>
                </div> -->
            </form>
        </div>
    </div>

    <table class="table table-striped table-responsive-lg btn-table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Email Id</th>
                <th>Company Referred For</th>
                <th>Location</th>
                <th>Job Title</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of referalData | paginate: {
                id:'jobApplications',
                itemsPerPage: 5,
                currentPage: page,
                totalItems: totalRecord}">
                <td>{{item.EmpName}}</td>
                <td>{{item.EmailId}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.Location}}</td>
                <td>{{item.JobTitle}}</td>
                <td>{{item.PhoneNo}}</td>
                <td><button type="button" class="btn" (click)="Delete(item.Id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <pagination-controls id="jobApplications" (pageChange)="page=$event" previousLabel=""
                                nextLabel=""></pagination-controls>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>