<div class="card">
    <img [src]="imageToShow" style="width:100%">
    <form [formGroup]="imageForm" (ngSubmit)="uploadImage()">
        <label> Change Photo<input type="file" size="60" formContolName="imageFile" (change)="handleImageUpload($event.target.files)"></label>
    </form>
    <br>
    <h3><b>{{fullname | uppercase}}</b></h3>
    <p class="title">Username: {{username}}</p>
    <p>Email: {{mail}}</p>
    <p><input class="button" type="button" (click)="download()" value="Download Resume" />
    </p>
</div>