<!-- <button type="button" (click)="viewDetails()">click me</button>  -->

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="box">
                {{id}}  {{mail}} {{role}} {{username}}
            </div>
        </div>
    </div>
</div> -->

<div class="card" style="width:400px">
    <i class="fas fa-user" style="width:100%"></i>
    <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image" > -->
    <div class="card-body">
        <h4 class="card-title">Mark</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>