<div class="container">
    <div class="row row justify-content-center bg">
        <div class="col-lg-8">
            <!-- <h1 class="txt">Internal Job Application:2020-00{{JobDetails?.JobId}}</h1>
            <h3 class="txt">2020-00{{JobDetails?.JobId}}:: {{JobDetails?.JobTitle}}: {{JobDetails?.CompanyName}}</h3> -->
            <br>
            <form [formGroup]="registerRefForm" #formDirective="ngForm" (ngSubmit)="submitReferralDetails()">
                <div class="form-group">
                    <label class="txt font-weight-bold"> Name</label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pName').invalid && registerRefForm.get('pName').touched"
                        type="text font-weight-bold" class="form-control" placeholder="Enter Your Name"
                        formControlName="pName" />
                    <small class="text-danger"
                        [class.d-none]="registerRefForm.get('pName').valid || registerRefForm.get('pName').untouched">
                        Name is mandatory*</small>
                </div>
                <div class="form-group">
                    <label class="txt font-weight-bold">Email</label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pEmailId').invalid && registerRefForm.get('pEmailId').touched"
                        type="text font-weight-bold" class="form-control" placeholder="Enter Email id"
                        formControlName="pEmailId" />
                    <small class="text-danger"
                        [class.d-none]="registerRefForm.get('pEmailId').valid || registerRefForm.get('pEmailId').untouched">Email
                        is mandatory*</small>
                </div>
                <div class="form-group">
                    <label class="txt font-weight-bold">Phone Number: </label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pPhoneNo').invalid && registerRefForm.get('pPhoneNo').touched"
                        type="text" class="form-control" placeholder="Enter phone number" formControlName="pPhoneNo" />
                    <small class="text-danger"
                        [class.d-none]="registerRefForm.get('pPhoneNo').valid || registerRefForm.get('pPhoneNo').untouched">phone
                        number
                        is mandatory*</small>
                </div>


                <div class="form-group">
                    <label class="txt font-weight-bold">Job profile Name</label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pJobName').invalid && registerRefForm.get('pJobName').touched"
                        type="text" class="form-control" placeholder="Enter Job Name" formControlName="pJobName" />
                    <small class="text-danger"
                        [class.d-none]="registerRefForm.get('pJobName').valid || registerRefForm.get('pJobName').untouched">Job
                        name
                        is mandatory*</small>
                </div>
                <div class="form-group">
                    <label class="txt font-weight-bold">Job Location</label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pLocation').invalid && registerRefForm.get('pLocation').touched"
                        type="text" class="form-control" placeholder="Enter Job Location" formControlName="pLocation" />
                    <small class="text-danger" 
                        [class.d-none]="registerRefForm.get('pLocation').valid || registerRefForm.get('pLocation').untouched">Job
                        name
                        is mandatory*</small>
                </div>

                <div class="form-group">
                    <label class="txt font-weight-bold">Skills set</label>
                    <input
                        [class.is-invalid]="registerRefForm.get('pSkillSet').invalid && registerRefForm.get('pSkillSet').touched"
                        type="text" class="form-control" placeholder="Enter skill set" formControlName="pSkillSet" />
                    <small class="text-danger"
                        [class.d-none]="registerRefForm.get('pSkillSet').valid || registerRefForm.get('pSkillSet').untouched">skills
                        is mandatory*</small>
                </div>







                <button class="btn text-white font-weight-bold" type="submit">Submit</button> &nbsp;
                <br><br>
                <br><br>

            </form>

        </div>
    </div>
</div>