<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
    <button class="navbar-toggler navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item">
                <a class="nav-link sidefrst">
                    <span class="textside"><i class="fas fa-user-circle"></i> Hi, {{userName}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidefrst">
                    <span class="textside"> {{lastLogin | date}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidefrst" routerLink="/dashboard" routerLinkActive="active">
                    <span class="textside"><i class="fas fa-tachometer-alt"></i> Dasboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link sidesecnd" routerLink="../appliedjobs" routerLinkActive="active">
                    <span class="textside"><i class="fas fa-briefcase"></i> Applied Jobs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidesthrd" routerLink="./ratemyskills" routerLinkActive="active">
                    <span class="textside"><i class="fa fa-star"></i> Rate My Skills</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidesthrd" routerLink="../suggestedjobs" routerLinkActive="active">
                    <span class="textside"><i class="fas fa-briefcase"></i> Suggested Jobs</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">

                    <h2>Rate Your Skills</h2>
                    <span>Choose number of rows</span>
                </div>
            </div>
        </div>
        <div>
            <form [formGroup]="SubmitSkillLevel" #formDirective="ngForm" (ngSubmit)="SubmitSkillLevelForm()">
                <div class="container">
                    <div class="form-row" *ngFor="let obj of dataarray; let i=index">
                        <div class="form-group col-md-2">
                            <label class="txt font-weight-bold">Employee Id:</label> &nbsp;
                            <input type="text" class="form-control" name="EmpId{{i}}" [(ngModel)]="obj.EmpId"
                                formControlName="EmpId">

                        </div>
                        <div class="form-group col-md-3">
                            <label class="txt font-weight-bold">Employee Skill:</label> &nbsp;
                            <select class="form-control" name="Skill_set_id{{i}}" [(ngModel)]="obj.Skill_set_id"
                                formControlName="skill_set_id">
                                <option *ngFor="let slist of Skills" [value]="slist.id">{{slist.name}}</option>

                            </select>

                        </div>
                        <div class="form-group col-md-3">
                            <label class="txt font-weight-bold">Skill Rating:</label> &nbsp;
                            <select class="form-control" name="Skill_level{{i}}" [(ngModel)]="obj.Skill_level"
                                formControlName="skill_level">
                                <option *ngFor="let rate of Rateing" value={{rate}}>{{rate}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-1" *ngIf="i!=0">
                            &nbsp; <button (click)="removeRow(i)" class="button1">-</button>
                        </div>&nbsp;

                    </div>
                    <button class="btn">Submit</button>
                    <br><br>
                </div>
            </form>
            <div class="container">
                <div class="form-group col-md-1">
                    &nbsp; <button (click)="addRow()" class="button2">+Add Row</button>
                </div>
                
            </div>
        </div>

    </div>
</div>