/* You can add global styles to this file, and also import other style files */

#toast-container>div {
    opacity: 1;
}

.toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
}

.toast-success {
    background-color: #51A351 !important;
}

.toast-error {
    background-color: rgb(190, 30, 30) !important;
}